/* Site logo, orange theme. */
#logo {
    float: left;
    margin-left: 5%;
    width: 394px;
    height: 74px;
    background-image: url('../images/temp_logo.orange.png');
	background-repeat: no-repeat;
}